<section id="masthead">
  <div class="row">
    <div class="small-12 columns">
      <header>
        <h4 class="left"><img src="assets/odl-logo.svg" /> <span>Open Device Lab</span> Saint-Etienne</h4>
        <nav id="i18n" class="right hide-for-small"><a href="/en">EN</a> | <a href="/fr">FR</a></nav>
      </header>
      <h1 class="animated fadeInLeft"><%= t('hero') %></strong></h1>
    </div>
  </div>
</section>

<section id="intro">
  <div class="row">
    <div class="small-12 large-4 columns">
      <h3><%= t('odl.header') %></h3>
      <p><%= t('odl.content') %></p>
    </div>

    <div class="small-12 large-4 columns">
      <h3><%= t('odl_ste.header') %></h3>
      <p><%= t('odl_ste.content') %></p>
    </div>

    <div class="small-12 large-4 columns">
      <h3><%= t('contribute.header') %></h3>
      <p><%= t('contribute.content') %></p>
      <a href="mailto:mehdi@craftsmen.io" class="button"><%= t('contribute.button') %></a>
    </div>
  </div>
</section>

<section id="devices">
  <div class="row">
    <div class="small-12 large-12 columns">
      <h3><%= t('devices.header') %></h3>
      <%= t('devices.content') %>
      <table>
        <thead>
          <tr>
            <th class="hide-for-small"><%= t('devices.table.manufacturer') %></th>
            <th><%= t('devices.table.model') %></th>
            <th><%= t('devices.table.screen') %></th>
            <th><%= t('devices.table.os') %></th>
            <th><%= t('devices.table.contributor') %></th>
          </tr>
        </thead>

        <%
            devices = []
            devices.push({manufacturer: 'Apple'     , type: 'phone'  , model: 'iPhone 4S'        , screen_size: '960x640 @ 326ppi'    , os_icon: 'ios'     , os_version: 'iOS 7'           , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Apple'     , type: 'tablet' , model: 'iPad mini Retina' , screen_size: '2048x1536 @ 326ppi'  , os_icon: 'ios'     , os_version: 'iOS 7'           , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Apple'     , type: 'tablet' , model: 'iPad 2'           , screen_size: '1024x768 @ 132ppi'   , os_icon: 'ios'     , os_version: 'iOS 7'           , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'LG'        , type: 'phone'  , model: 'Nexus 4'          , screen_size: '768x1280 @ 318ppi'   , os_icon: 'android' , os_version: 'Android'         , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Asus'      , type: 'tablet' , model: 'Nexus 7'          , screen_size: '1280×800px @ 216ppi' , os_icon: 'android' , os_version: 'Android'         , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Archos'    , type: 'tablet' , model: 'Titanium'         , screen_size: ''                    , os_icon: 'android' , os_version: 'Android'         , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Microsoft' , type: 'tablet' , model: 'Surface'          , screen_size: ''                    , os_icon: 'windows' , os_version: 'Windows'         , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Nokia'     , type: 'phone'  , model: 'Lumia 925'        , screen_size: '1280x768 @ 334ppi'   , os_icon: 'windows' , os_version: 'Windows Phone 8' , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Nokia'     , type: 'phone'  , model: 'Lumia 520'        , screen_size: '480x800 @ 233ppi'    , os_icon: 'windows' , os_version: 'Windows Phone 8' , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Samsung'   , type: 'tablet' , model: 'Galaxy Tab 3'     , screen_size: '1024x600'            , os_icon: 'android' , os_version: 'Android'         , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Samsung'   , type: 'tablet' , model: 'Galaxy Tab 2'     , screen_size: ''                    , os_icon: 'android' , os_version: 'Android'         , contributor: 'Craftsmen'})
            devices.push({manufacturer: 'Amazon'    , type: 'tablet' , model: 'Kindle Fire HD'   , screen_size: '1280×800 @ 216ppi'   , os_icon: 'android' , os_version: 'Android'         , contributor: 'Craftsmen'})
        %>

        <tbody>
          <% devices.each do |device| %>
          <tr>
            <td class="hide-for-small"><%= device[:manufacturer] %></td>
            <td><i class="odl-<%= device[:type] %>"></i> <%= device[:model] %></td>
            <td><%= device[:screen_size] %></td>
            <td><i class="odl-<%= device[:os_icon] %>"></i>  <%= device[:os_version] %></td>
            <td><%= device[:contributor] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section id="contact">
  <div class="row">
    <div class="small-12 columns">
      <h3><%= t('contact.header') %></h3>
      <p><%= t('contact.content') %></p>
    </div>
  </div>
  <iframe width='100%' height='400px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/mehlah.h80kmc78/mm/zoompan.html'></iframe>
</section>

<footer class="row">
  <div class="small-12 columns">
    <p>
      Shaped by the fine ladies and gentlemen at <a href="http://craftsmen.io"><img src="/assets/craftsmen-logo.png" /></a>
      <br />
      Need to get in touch? <a href="mailto:mehdi@craftsmen.io">Email us!.</a>
    </p>
    <p><a href="https://twitter.com/ODLSaintEtienne"><img src="/assets/twitter.png" /></a></p>
  </div>
</footer>
