<div class="hero">
  <section id="masthead">
    <div class="row">
      <div class="small-12 columns">
        <header>
          <h4 class="left"><%= image_tag 'odl-logo.svg' %> <span>Open Device Lab</span> Saint-Etienne</h4>
          <nav id="i18n" class="right hide-for-small"><%= link_to 'EN', '/en' %> | <%= link_to 'FR', '/' %></nav>
        </header>
        <h1 class="animated fadeInLeft"><%= t('hero') %></strong></h1>
      </div>
    </div>
  </section>

  <section id="intro">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <h3><%= t('odl.header') %></h3>
        <hr />
        <p><%= t('odl.content') %></p>
      </div>

      <div class="small-12 medium-4 columns">
        <h3><%= t('odl_ste.header') %></h3>
        <hr />
        <p><%= t('odl_ste.content') %></p>
      </div>

      <div class="small-12 medium-4 columns">
        <h3><%= t('contribute.header') %></h3>
        <hr />
        <p><%= t('contribute.content') %></p>
        <%= mail_to 'mehdi@craftsmen.io', t('contribute.button'), class: 'button' %>
      </div>
    </div>
  </section>
</div>

<section id="devices">
  <div class="row">
    <div class="small-12 columns">
      <h3><%= t('devices.header') %></h3>
      <%= t('devices.content') %>
      <table>
        <thead>
          <tr>
            <th class="hide-for-small"><%= t('devices.table.manufacturer') %></th>
            <th><%= t('devices.table.model') %></th>
            <th><%= t('devices.table.screen') %></th>
            <th><%= t('devices.table.os') %></th>
            <th class="hide-for-small"><%= t('devices.table.contributor') %></th>
          </tr>
        </thead>

        <tbody>
          <% data.devices.each do |device| %>
          <tr>
            <td class="hide-for-small"><%= device[:manufacturer] %></td>
            <td><i class="odl-<%= device[:type] %>"></i> <%= device[:model] %></td>
            <td><%= device[:screen_size] %></td>
            <td><i class="odl-<%= device[:os_icon] %>"></i>  <%= device[:os_version] %></td>
            <td class="hide-for-small"><%= device[:contributor] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section id="contact">
  <div class="row">
    <div class="small-12 columns">
      <h3><%= t('contact.header') %></h3>
      <p><%= t('contact.content') %></p>
    </div>
  </div>
  <iframe width='100%' height='400px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/mehlah.h80kmc78/mm/zoompan.html'></iframe>
</section>

<footer class="row">
  <div class="small-12 columns">
    <p>
      Shaped by the fine ladies and gentlemen at <%= link_to image_tag('craftsmen-logo.png'), 'http://craftsmen.io' %>
      <br />
      Need to get in touch? <%= mail_to 'mehdi@craftsmen.io', 'Email us!' %>
    </p>
    <p><%= link_to image_tag('twitter.png'), 'https://twitter.com/ODLSaintEtienne' %></p>
  </div>
</footer>
